<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="d-flex flex-column">
      <div class="container">
        <div class="navbar">
          <%= link_to "ロゴ", root_path %>
          <ul>
            <li><%= link_to "メンバー", admin_members_path %></li>
            <li><%= link_to "投稿", posts_path %></li>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
